/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-Fortune .header {
  text-align: center;       /* Aligns header text left, center or right) */
  font-size: 15px;          /* Sets header text size */
  color: #62FF00;             /* Sets header text color */
}

.MMM-Fortune h3.small {
  color: #62FF00;              /* color for the Fortune text */
  font-size: 21px;          /* size for the Fortune text */
}

.MMM-Fortune p.xsmall.bright {
  color: #62FF00;              /* color for Phrase and Lucky Numbers text */
  font-size: 18px;          /* size for Phrase and Lucky Numbers text */
}